.wide{
    height: 100vh;
}

.container-h{
    display: flex;
    align-items: center;
    padding: 5%;
}

.stack{
    display: flex;
    flex-direction: column;
    padding: 1%;
    align-items: center;
    margin: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}