.textfield{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
}

.button{
    padding: 12px 20px;
    margin: 8px 0;
    cursor: pointer;
    border: 0px transparent;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 1000;
    text-shadow: none;
}