@media (prefers-color-scheme: dark) { 
    $accent-color: #9e99ff;
    $input-color: rgb(54, 59, 105);
    $background-color: #1d2139;
    $danger-color: #f57167;


    @media print{
        *{
            background-color: darken($color: $input-color, $amount: 10);
        }
    }

    html{
        background-color:rgb(29, 33, 57);
        color: white;
    }

    .planview-container{
        background-color: darken($color: $input-color, $amount: 10);
    }

    .spinner-container{
        background-color: rgba($input-color, 0.5);
    }

    .card{
        background-color: darken($color: $input-color, $amount: 10);
    }

    .card-inconsistencia{
        background-color: transparentize($color: $danger-color, $amount: 0.7);
        color: $danger-color;

        .textfield{
            outline-color: $danger-color;
            border-color: transparentize($color: $danger-color, $amount: 0.5);
        }
    }

    .tabs{

        background-color: darken($color: $input-color, $amount: 5);
        border-radius: 10px;

        .tab-active{
            background-color: darken($color: $accent-color, $amount: 5);
            color: black;
        }

    }

    .clock-figure{
        content: url('./assets/undraw_time_management_dark.svg')
    }

    .ponto-inconsistente{
        color: $accent-color
    }

    .textfield, .select{
        color: white;
        background-color: transparent;
        outline-color: $accent-color;
        border: 2px solid $input-color;
        border-radius: 5px;
    }

    .button{
        background-color: $accent-color;

        &-danger{
            background-color: transparentize($color: $danger-color, $amount: 0.3);
        }
    }

    .handler{
        color: $accent-color;
    }

    .main-title{
        color: $accent-color;
    }

    .pontos-container{
        background-color: darken($color: $input-color, $amount: 10);
        -webkit-print-color-adjust: exact !important;

        table{
            background-color: darken($color: $input-color, $amount: 10);
        }
    }

    .sabado{
        border: 2px solid darken($color: rgba($color: $accent-color, $alpha: 0.1), $amount: 10);
        color: rgba($color: lightGrey, $alpha: 0.3);
    }

    .domingo{
        border: 2px solid darken($color: rgba($color: $accent-color, $alpha: 0.1), $amount: 10);
        color: rgba($color: lightGrey, $alpha: 0.5);
    }

    .ponto{
        border: 2px solid $input-color;

        &-modificado{
            background-color: transparentize($color: $danger-color, $amount: 0.5);
            border: 2px solid $danger-color;
            color: white;
        }
    }

    .message-error{
        background-color: transparentize($color: $danger-color, $amount: 0.6);
        color: darken($color: $danger-color, $amount: 0.5);
      }

};
