.wide{
    display: flex;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

.stack-complete{
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
}