@media print and (prefers-color-scheme: light) {
  * {
    background-color: #f1f3f6;
  }
}

@media (prefers-color-scheme: light) {
  .clock-figure {
    content: url("./assets/undraw_time_management.svg");
  }
  .spinner-container {
    background-color: rgba(108, 99, 255, 0.5);
  }
  .planview-container {
    background-color: #f1f3f6;
  }
  .card {
    background-color: #f1f3f6;
  }
  .card-inconsistencia {
    background-color: rgba(255, 113, 103, 0.4);
    color: #ff4134;
  }
  .card-inconsistencia .textfield {
    outline-color: #ff382a;
    border-color: rgba(255, 113, 103, 0.8);
  }
  .tabs {
    background-color: #f1f3f6;
    border-radius: 10px;
  }
  .tabs .tab-active {
    color: white;
    background-color: #544aff;
  }
  .ponto-inconsistente {
    color: #6C63FF;
  }
  .textfield, select {
    background-color: transparent;
    outline-color: #6C63FF;
    border: 2px solid rgba(108, 99, 255, 0.5);
    border-radius: 5px;
  }
  .button {
    background-color: #6C63FF;
    color: white;
  }
  .button-danger {
    background-color: #cd0d00;
  }
  .handler {
    color: #6C63FF;
  }
  .main-title {
    color: #6C63FF;
  }
  .pontos-container {
    background-color: #f1f3f6;
  }
  .pontos-container th {
    color: #5b6f8d;
  }
  .pontos-container table {
    background-color: rgba(60, 48, 255, 0.5);
  }
  .sabado {
    border: 2px solid #e6e6e6;
    color: #a6a6a6;
  }
  .domingo {
    border: 2px solid #e6e6e6;
    color: #b3b3b3;
  }
  .ponto {
    border: 2px solid #dbe0e8;
    color: #5b6f8d;
  }
  .ponto-modificado {
    background-color: #ffa19a;
    border: 2px solid #ff6358;
    color: #cd0d00;
  }
  .message-error {
    background-color: rgba(255, 113, 103, 0.4);
    color: #ff6f64;
  }
  .message-success {
    background-color: rgba(255, 113, 103, 0.4);
    color: #ff6f64;
  }
}

@media print and (prefers-color-scheme: dark) {
  * {
    background-color: #252847;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #1d2139;
    color: white;
  }
  .planview-container {
    background-color: #252847;
  }
  .spinner-container {
    background-color: rgba(54, 59, 105, 0.5);
  }
  .card {
    background-color: #252847;
  }
  .card-inconsistencia {
    background-color: rgba(245, 113, 103, 0.3);
    color: #f57167;
  }
  .card-inconsistencia .textfield {
    outline-color: #f57167;
    border-color: rgba(245, 113, 103, 0.5);
  }
  .tabs {
    background-color: #2d3258;
    border-radius: 10px;
  }
  .tabs .tab-active {
    background-color: #8680ff;
    color: black;
  }
  .clock-figure {
    content: url("./assets/undraw_time_management_dark.svg");
  }
  .ponto-inconsistente {
    color: #9e99ff;
  }
  .textfield, .select {
    color: white;
    background-color: transparent;
    outline-color: #9e99ff;
    border: 2px solid #363b69;
    border-radius: 5px;
  }
  .select {
    background-color: #1d2139;
  }
  .button {
    background-color: #9e99ff;
  }
  .button-danger {
    background-color: rgba(245, 113, 103, 0.7);
  }
  .handler {
    color: #9e99ff;
  }
  .main-title {
    color: #9e99ff;
  }
  .pontos-container {
    background-color: #252847;
    -webkit-print-color-adjust: exact !important;
  }
  .pontos-container table {
    background-color: #252847;
  }
  .sabado {
    border: 2px solid rgba(110, 102, 255, 0.1);
    color: rgba(211, 211, 211, 0.3);
  }
  .domingo {
    border: 2px solid rgba(110, 102, 255, 0.1);
    color: rgba(211, 211, 211, 0.5);
  }
  .ponto {
    border: 2px solid #363b69;
  }
  .ponto-modificado {
    background-color: rgba(245, 113, 103, 0.5);
    border: 2px solid #f57167;
    color: white;
  }
  .message-error {
    background-color: rgba(245, 113, 103, 0.4);
    color: #f56f65;
  }
  .message-success {
    background-color: rgba(84, 104, 51, 0.4);
    color: #536632;
  }
}

.wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.stack-complete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  vertical-align: middle;
}

.textfield {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.button {
  padding: 12px 20px;
  margin: 8px 0;
  cursor: pointer;
  border: 0px transparent;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 1000;
  text-shadow: none;
}

* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  color-adjust: exact;
  -webkit-print-color-adjust: exact;
}

@page {
  page-break-after: always;
  size: A4;
}

@media print {
  .pontos-container {
    padding: 2em;
    width: 100%;
  }
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tabs .tab {
  cursor: pointer;
  margin: 0.5em;
  margin-right: 20px;
  padding: 0 0.5em 0 0.5em;
}

.tabs .tab-active {
  border-radius: 10px;
}

.main-title {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
}

.clock-figure {
  width: 60%;
  height: 60%;
}

.message {
  padding-left: 10px;
}

.message-success {
  background-color: #bcdc1c;
  color: #414c0b;
}

.select {
  margin: 2px;
  font-size: 14px;
}

.message {
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  height: 0;
  padding-top: 15px;
}

#message {
  transition-timing-function: ease;
  -webkit-transition-timing-function: ease;
}

.message.in {
  height: 40px;
}

.message.out {
  top: -1000px;
  height: 0;
}

.message.remove-pad {
  padding-top: 0px;
  color: transparent;
}
/*# sourceMappingURL=main.css.map */